/* General Styles */
body {
    font-family: 'Montserrat', sans-serif !important; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn, button {
    font-family: 'Montserrat', sans-serif !important;
}

.btn2:hover {
    background-color: #ffefb0 !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #afafaf;
}

.logo img {
    max-height: 50px;
}

.navigation ul {
    display: flex;
    gap: 20px;
}

.navigation .btn {
    background-color: #ffcc00;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: #f9f9f9;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.hero-content .btn {
    padding: 1rem 2rem;
    background: #ffcc00;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.hero-image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Features Section */
.features {
    padding: 3rem 5%;
    text-align: center;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.feature {
    flex: 1;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature i {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.feature p {
    font-size: 1rem;
    color: #555555;
}

.fas {
    color: #f3d765;
}

/* How It Works Section */
.how-it-works {
    padding: 3rem 5%;
    background: #f9f9f9;
    text-align: center;
}

.how-it-works h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.steps {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.step {
    flex: 1;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.step i {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.step h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.step p {
    font-size: 1rem;
    color: #666;
}

/* Get Started Section */
.get-started {
    padding: 3rem 5%;
    text-align: center;
}

.get-started h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.get-started .btn {
    padding: 1rem 2rem;
    background: #ffcc00;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    color: #666;
}

/* Testimonials Section */
.testimonials {
    padding: 3rem 5%;
    text-align: center;
    background: #f9f9f9;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.testimonial-list {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.testimonial {
    flex: 1;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.testimonial p {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.testimonial-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial-user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.testimonial-user span {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

/* FAQ Section */
.faqs {
    padding: 3rem 5%;
    text-align: center;
    background: #fff;
}

.faqs h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.faq-list {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.faq {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    /* background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; */
}

.faq h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.faq p {
    font-size: 1rem;
    color: #666;
}

/* Call to Action Section */
.call-to-action {
    padding: 3rem 5%;
    text-align: center;
    background: #ffd21d;
}

.call-to-action h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.call-to-action .btn {
    padding: 1rem 2rem;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .feature-list,
    .steps,
    .testimonial-list {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero-content {
        text-align: center;
    }

    .feature-list, .steps {
        flex-direction: column;
        align-items: center;
    }
}


/* Mobile Navigation Toggle */
.mobile-nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .navigation {
        display: none;
        flex-direction: column;
        background-color: #f8f9fa;
        position: absolute;
        top: 70px;
        width: 100%;
        left: 0;
        padding: 10px 0;
    }

    .navigation.active {
        display: flex;
    }

    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
    }
}

.sign-up {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.sign-up form {
    display: inline-block;
    text-align: left;
    max-width: 400px;
    width: 80%;
}

.sign-up label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.sign-up input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-up .btn {
    background-color: #ffcc00;
    padding: 15px 30px;
    border-radius: 5px;
    color: #000;
    display: block;
    width: 80%;
    margin: 0 auto;
}


/* Header Styles */
.header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo img {
    height: 180px;
}

.header .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header .navigation a {
    text-decoration: none;
    color: #333;
}

.header .navigation .btn {
    background-color: #ffcc00;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}

.header .navigation .btn2 {
    background-color: #ffefb0;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}

/* Form Card Styles */
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Dashboard Styles */
.dashboard {
    padding: 20px;
}

.overview {
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat {
    background-color: #616161;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 22%;
    text-align: center;
}


/* Footer Styles */
.footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* Quote styles */
.quote {
    font-family:'Courier New', Courier, monospace;
    text-align: center !important; 
    font-size: 11px !important; 
    padding-top: 20px;
    padding: 20px !important; 
    margin: 0 auto !important; 
    margin-top: 30px !important;
    display: table !important;
    background-color: #ffefb0;
    max-width: 600px !important;
    border-radius: 8px;
}

/* Ensure the .overview section is styled properly */
.overview {
    text-align: center;
    /* margin: 20px 0; */
}

/* Style the stats */
.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.stat {
    flex: 1;
    min-width: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* Style the forms */
.form-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat-form {
    margin: 10px;
}

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    padding: 5px 10px;
    cursor: pointer;
}

.actual {
    font-size: 1.5em;
}

.target {
    font-size: 1em;
    color: black;
}

/* register.html styles */
.form-container .form-error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .btn {
    background-color: #f0c14b;
    border-color: #a88734;
    color: #111;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Dashboard-specific styles */
.content-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    flex-wrap: wrap;
    flex: 1;
}

.content-column {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#calendar, #financialChart, #expenseCategoryChart {
    max-width: 100% !important;
    margin: 0 auto !important;
    flex-wrap: wrap !important;
}

.stat {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat form {
    margin-top: 10px;
}

.stat p {
    font-size: 1.5em;
    margin: 0;
}

.stat h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Reports css */
.reports-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.financial-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.financial-table th, .financial-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.financial-table th {
    background-color: #f4f4f4;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

.financial-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.financial-table tr:hover {
    background-color: #f1f1f1;
}

.financial-table td {
    font-size: 14px;
}

.btn-download {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.btn-download:hover {
    background-color: #218838;
}

.btn-download:focus {
    outline: none;
}

.stat {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    flex: 1;
}

.stat h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.stat p {
    font-size: 28px;
    margin-bottom: 20px;
}

.stat p#expenses {
    color: red;
}

.stat form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat input[type="number"], .stat select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

.stat select:required:invalid {
    color: gray;
}

.stat select option[value=""][disabled] {
    display: none;
}

.stat select option {
    color: #000;
}

.stat .btn-update {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.stat .btn-update:hover {
    background-color: #e0a800;
}

.stat .btn-update:focus {
    outline: none;
}
.available-balance {
    background: #ceffad;
    justify-self: center;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(206, 206, 206, 0.1);
    text-align: center;
    margin: 0 auto;
}

.available-balance h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #161616;
}

.available-balance p {
    font-size: 28px;
    color: #000000;
}

.article {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.article h3 {
    margin-top: 0;
}

.article a {
    color: #007bff;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Adjust form layout for smaller screens */
@media (max-width: 768px) {
    .stats, .form-container {
        flex-direction: column;
        align-items: center;
    }

    .stat, .stat-form {
        width: 80%;
    }
}

.password-container {
    position: relative;
}

.password-field {
    width: calc(100% - 40px);
    padding-right: 40px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle.fa-eye-slash {
    color: #007bff;
}

/* Profile page styling */
.profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-section {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.profile-section h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.btn {
    background-color: #ffcc00;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f1cd00 !important;
}



