
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CashYangu - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/main.min.css" />
   
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="path-to-your-logo.svg" alt="CashYangu Logo">
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('logout') }}" class="btn">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <main class="dashboard">
       
        <section class="overview">
            <h1>Welcome to Your Dashboard</h1>
            <div class="stats">
                <div class="stat">
                    <h2>Earnings</h2>
                    <p>$0.00</p>
                </div>
                <div class="stat">
                    <h2>Expenses</h2>
                    <p>$0.00</p>
                </div>
                <div class="stat">
                    <h2>Savings</h2>
                    <p>$0.00</p>
                </div>
                <div class="stat">
                    <h2>Budget Goals</h2>
                    <p>$0.00</p>
                </div>
            </div>
        </section>

        <section class="quote">
            <p id="quote">Loading wisdom...</p>
        </section>

        <section class="calendar">
            <h2>Upcoming Bills</h2>
            <div id="calendar"></div>
        </section>
    
    </main>

    <footer class="footer">
        <p>&copy; 2024 CashYangu. All rights reserved.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/main.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/dash.js') }}"></script>

</body>
</html>
