{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <h2>Login</h2>
    <div class="form-container">
        <form action="{{ url_for('login') }}" method="POST" id="loginForm">
            {{ form.hidden_tag() }}
            <label for="email">Email:</label>
            {{ form.email(size=32, class_="form-control") }}
            <label for="password">Password:</label>
            <div class="password-container">
                {{ form.password(size=32, class_="form-control") }}
                <i class="far fa-eye toggle-password"></i>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/passwordToggle.js') }}"></script>
{% endblock %}
