{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}
<div class="reports-container">
    <h1>Financial Reports</h1>
    <button id="deleteAllBtn" class="btn-delete-all" style="color: rgb(172, 42, 42);">Delete All</button>
    <table class="financial-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="reports-container">
            {% for item in data %}
            <tr data-id="{{ item.id }}">
                <td>{{ item.date }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.category or '' }}</td>
                <td><button class="delete-button">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="downloadReportBtn" class="btn-download">Download Report</button>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/reports.js') }}"></script>
{% endblock %}
